@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Hiragino Sans", sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

/* header ================================ */
header {
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #f0f4f9;
}

header .headerLogo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 25px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
}

header .headerLogo:hover {
  color: #58d2b2;
}

/* container ================================ */
.container {
  width: 90%;
  min-width: 360px;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 56px;
}

.container .containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container .containerHeader .addButton {
  background-color: #b7cadc;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #6c7686;
  width: 130px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #b7cadc;
}

.container .containerHeader .addButton:hover {
  background-color: #fff;
  color: #b7cadc;
  transition: all 0.3s ease;
}

/* index ================================ */
.hideButton {
  text-align: right;
  margin-bottom: 14px;
}

.hideButton button {
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.hideButton .hideButtonEn {
  background-color: #80bcff;
  border-radius: 30px;
  width: 120px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border: 2px solid #80bcff;
}

.hideButton .hideButtonEn:hover {
  background-color: #fff;
  color: #80bcff;
  transition: all 0.3s ease;
}

.hideButton .hideButtonJa {
  background-color: #fc9ca5;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border: 2px solid #fc9ca5;
}

.hideButton .hideButtonJa:hover {
  background-color: #fff;
  color: #fc9ca5;
  transition: all 0.3s ease;
}
