@charset "UTF-8";

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: "Hiragino Sans", sans-serif;
	line-height: 1.7;
	letter-spacing: 1px;
}

body {
	margin: 0;
	background-color: #f6faff;
	color: #6c7686;
}

ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	display: block;
	text-decoration: none;
	color: #2d3133;
	font-size: 14px;
}

a:hover {
	transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	font-weight: 600;
}

input {
	font-family: inherit;
	font-size: 100%;
}

/* header ================================ */
header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #f0f4f9;
	background-color: #fff;
}

@media (max-width: 600px) {
	header {
		height: 40px;
	}
}

@media (min-width: 600px) {
	header {
		height: 56px;
	}
}

header .headerLogo {
	display: inline;
	color: #6c7686;
	font-weight: 600;
}

@media (max-width: 600px) {
	header .headerLogo {
		margin-left: 7px;
		font-size: 14px;
		line-height: 40px;
	}
}

@media (min-width: 600px) {
	header .headerLogo {
		margin-left: 12px;
		font-size: 25px;
		line-height: 56px;
	}
}


header .headerLogo:hover {
	color: #58d2b2;
}

.logoutButton {
	display: flex;
	border: 2px solid #b7cadc;
	background-color: #b7cadc;
	color: #6c7686;
	justify-content: center;
	font-weight: bold;
	line-height: 100%;
}

.logoutButton:hover {
	background-color: #fff;
	color: #b7cadc;
	transition: all 0.3s ease;
}

@media (max-width: 600px) {
	.logoutButton {
		width: 90px;
		height: 40px;
		margin-right: 7px;
		font-size: 14px;
	}
}

@media (min-width: 600px) {
	.logoutButton {
		width: 140px;
		height: 56px;
		margin-right: 15px;
		font-size: 20px;
	}
}

/* container ================================ */
.container {
	width: 90%;
	margin: 0 auto;
	margin-top: 56px;
}

.container .containerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 700px) {
	.container .containerHeader {
		margin-bottom: 7px;
		font-size: 14px;
	}
}

@media (min-width: 700px) {
	.container .containerHeader {
		font-size: 22px;
	}
}

.container .containerHeader .addButton {
	border: 2px solid #58d2b2;
	border-radius: 3px;
	background-color: #58d2b2;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.container .containerHeader .addButton:hover {
	background-color: #fff;
	color: #58d2b2;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.container .containerHeader .addButton {
		width: 130px;
		height: 35px;
		font-size: 14px;
		line-height: 35px;
	}
}

@media (min-width: 700px) {
	.container .containerHeader .addButton {
		width: 200px;
		height: 45px;
		font-size: 22px;
		line-height: 45px;
	}
}

/* index ================================ */
.hideButton {
	margin-bottom: 14px;
	text-align: right;
}

.hideButton button {
	border: none;
	cursor: pointer;
	font-size: 14px;
}

.hideButton .hideButtonEn {
	border: 2px solid #80bcff;
	border-radius: 30px;
	background-color: #80bcff;
	color: #fff;
	text-align: center;
}

.hideButton .hideButtonEn:hover {
	background-color: #fff;
	color: #80bcff;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.hideButton .hideButtonEn {
		width: 120px;
		height: 40px;
		font-size: 14px;
		line-height: 30px;
	}
}

@media (min-width: 700px) {
	.hideButton .hideButtonEn {
		width: 180px;
		height: 50px;
		font-weight: bold;
		font-size: 22px;
		line-height: 45px;
	}
}

.hideButton .hideButtonJa {
	border: 2px solid #fc9ca5;
	border-radius: 30px;
	background-color: #fc9ca5;
	color: #fff;
	text-align: center;
}

.hideButton .hideButtonJa:hover {
	background-color: #fff;
	color: #fc9ca5;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.hideButton .hideButtonJa {
		width: 150px;
		height: 40px;
		font-size: 14px;
		line-height: 30px;
	}
}

@media (min-width: 700px) {
	.hideButton .hideButtonJa {
		width: 230px;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 45px;
	}
}

/* table ================================ */
table {
	width: 100%;
	border-spacing: 0;
	border-radius: 3px;
	background-color: #fff;
}

.tableHead th {
	height: 40px;
	background-color: #b7cadc;
	text-align: center;
}

@media (max-width: 600px) {
	.tableHead th {
		font-size: 18px;
	}
}

@media (min-width: 600px) {
	.tableHead th {
		font-size: 22px;
	}
}

.tableHead .enHead {
	width: 40%;
	border-top-left-radius: 3px;
}

.tableHead .jaHead {
	width: 40%;
}

.tableHead .blank {
	width: 10%;
	border-top-right-radius: 3px;
}

tr {
	color: #6c7686;
}

@media (max-width: 600px) {
	tr {
		font-size: 18px;
	}
}

@media (min-width: 600px) {
	tr {
		font-size: 22px;
	}
}


tr .menuButton {
	text-align: center;
}

tr .menuButton .editButton,
tr .menuButton .deleteButton {
	display: inline;
	border: none;
	outline: none;
	background-color: transparent;
	color: #6c7686;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
}

@media (max-width: 600px) {

	tr .menuButton .editButton,
	tr .menuButton .deleteButton {
		font-size: 16px;
	}
}

@media (min-width: 600px) {

	tr .menuButton .editButton,
	tr .menuButton .deleteButton {
		font-size: 20px;
	}
}

tr .menuButton .editButton:hover {
	color: #80bcff;
	transition: all 0.3s ease;
}

tr .menuButton .deleteButton:hover {
	color: #fc9ca5;
	transition: all 0.3s ease;
}

td {
	padding-left: 8px;
}

/* login ================================ */
.loginFormWrapper {
	padding: 20px;
	border: 1px solid #f0f4f9;
	border-radius: 2px;
	background-color: #fff;
}

.loginFormWrapper .formLabel {
	color: #8491a5;
}

@media (max-width: 700px) {
	.loginFormWrapper .formLabel {
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.loginFormWrapper .formLabel {
		font-size: 24px;
	}
}


@media (min-width: 700px) {
	.loginFormWrapper .formGroupLog {
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.loginFormWrapper .formGroupLog {
		font-size: 22px;
	}
}

.loginFormWrapper .inputForm {
	margin: 0;
}

.loginFormWrapper input[type=text] {
	width: 100%;
	padding: 12px 16px;
	border: 1px solid #bac6d3;
	border-radius: 2px;
	background-color: #fcfcfd;
	color: #2b546a;
}

@media (max-width: 700px) {
	.loginFormWrapper input[type=text] {
		height: 40px;
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.loginFormWrapper input[type=text] {
		height: 60px;
		font-size: 22px;
	}
}

.loginFormWrapper input[type=submit] {
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: auto;
	border: 2px solid #80bcff;
	border-radius: 30px;
	outline: none;
	background-color: #80bcff;
	color: #ffffff;
	cursor: pointer;
}

.loginFormWrapper input[type=submit]:hover {
	background-color: #ffffff;
	color: #80bcff;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.loginFormWrapper input[type=submit] {
		width: 100px;
		height: 40px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.loginFormWrapper input[type=submit] {
		width: 120px;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 48px;
	}
}

.sulWrapper {
	text-align: right;
}

.signupLink {
	display: inline-block;
	color: #191970;
	font-size: 18px;
	text-decoration: underline;
}

.signupLink:hover {
	color: #80bcff;
	transition: all 0.3s ease;
}

/* signup ================================ */
.signupFormWrapper {
	padding: 20px;
	border: 1px solid #f0f4f9;
	border-radius: 2px;
	background-color: #fff;
}

.signupFormWrapper .formLabel {
	color: #8491a5;
}

@media (max-width: 700px) {
	.signupFormWrapper .formLabel {
		font-size: 16px;
	}
}

@media (min-width: 700px) {
	.signupFormWrapper .formLabel {
		font-size: 24px;
	}
}

.signupFormWrapper .warnLabel {
	color: #8491a5;
}

@media (max-width: 700px) {
	.signupFormWrapper .warnLabel {
		font-size: 14px;
	}
}

@media (min-width: 700px) {
	.signupFormWrapper .warnLabel {
		font-size: 18px;
	}
}

.signupFormWrapper .inputForm {
	margin: 0;
}

.signupFormWrapper input[type=text] {
	width: 100%;
	margin-top: 8px;
	padding: 12px 16px;
	background-color: #fcfcfd;
	border: 1px solid #bac6d3;
	border-radius: 2px;
	color: #2b546a;
}

.signupFormWrapper input[type=text]::placeholder {
	opacity: 50%;
}

@media (max-width: 700px) {
	.signupFormWrapper input[type=text] {
		height: 40px;
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.signupFormWrapper input[type=text] {
		height: 60px;
		font-size: 22px;
	}
}

.signupFormWrapper input[type=submit] {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 30px;
	border: 2px solid #80bcff;
	border-radius: 30px;
	background-color: #80bcff;
	color: #ffffff;
	cursor: pointer;
	outline: none;
}

.signupFormWrapper input[type=submit]:hover {
	background-color: #ffffff;
	color: #80bcff;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.signupFormWrapper input[type=submit] {
		width: 145px;
		height: 40px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.signupFormWrapper input[type=submit] {
		width: 180px;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 48px;
	}
}

.cancelButton {
	margin-left: auto;
	border: 2px solid #fc9ca5;
	border-radius: 30px;
	background-color: #fc9ca5;
	color: #fff;
	text-align: center;
}

.cancelButton:hover {
	background-color: #fff;
	color: #fc9ca5;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.cancelButton {
		width: 100px;
		height: 40px;
		margin-top: 10px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.cancelButton {
		width: 120px;
		height: 50px;
		margin-top: 10px;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
	}
}

.lLWrapper {
	text-align: right;
}

.signupFormWrapper .loginLink {
	display: inline;
	color: #191970;
	font-size: 18px;
	text-align: right;
	text-decoration: underline;
}

.signupFormWrapper .loginLink:hover {
	color: #80bcff;
	transition: all 0.3s ease;
}

/* add ================================ */
.addFormWrapper {
	padding: 20px;
	border: 1px solid #f0f4f9;
	border-radius: 2px;
	background-color: #fff;
}

.addFormWrapper .formLabel {
	color: #8491a5;
}

@media (max-width: 700px) {
	.addFormWrapper .formLabel {
		font-size: 16px;
	}
}

@media (min-width: 700px) {
	.addFormWrapper .formLabel {
		font-size: 24px;
	}
}

.addFormWrapper .inputForm {
	margin: 0;
}

.addFormWrapper input[type=text] {
	width: 100%;
	margin-top: 8px;
	padding: 12px 16px;
	border: 1px solid #bac6d3;
	border-radius: 2px;
	background-color: #fcfcfd;
	color: #2b546a;
}

.addFormWrapper input[type=text]::placeholder {
	opacity: 50%;
}

@media (max-width: 700px) {
	.addFormWrapper input[type=text] {
		height: 40px;
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.addFormWrapper input[type=text] {
		height: 60px;
		font-size: 22px;
	}
}

.addFormWrapper input[type=submit] {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	border: 2px solid #80bcff;
	border-radius: 30px;
	background-color: #80bcff;
	color: #ffffff;
	outline: none;
	cursor: pointer;
}

.addFormWrapper input[type=submit]:hover {
	background-color: #ffffff;
	color: #80bcff;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.addFormWrapper input[type=submit] {
		width: 100px;
		height: 40px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.addFormWrapper input[type=submit] {
		width: 120px;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 48px;
	}
}

.cancelButton {
	margin-left: auto;
	border: 2px solid #fc9ca5;
	border-radius: 30px;
	background-color: #fc9ca5;
	color: #fff;
	text-align: center;
}

.cancelButton:hover {
	background-color: #fff;
	color: #fc9ca5;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.cancelButton {
		width: 100px;
		height: 40px;
		margin-top: 10px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.cancelButton {
		width: 120px;
		height: 50px;
		margin-top: 10px;
		font-size: 22px;
		font-weight: bold;
		line-height: 50px;
	}
}

/*edit ================================ */
.editFormWrapper {
	padding: 20px;
	border: 1px solid #f0f4f9;
	border-radius: 2px;
	background-color: #fff;
}

.editFormWrapper .editLabelEn {
	color: #8491a5;
}

@media (max-width: 700px) {
	.editFormWrapper .editLabelEn {
		font-size: 16px;
	}
}

@media (min-width: 700px) {
	.editFormWrapper .editLabelEn {
		font-size: 24px;
	}
}

.editFormWrapper .editLabelJa {
	margin-top: 8px;
	color: #8491a5;
}

@media (max-width: 700px) {
	.editFormWrapper .editLabelJa {
		font-size: 16px;
	}
}

@media (min-width: 700px) {
	.editFormWrapper .editLabelJa {
		font-size: 24px;
	}
}

.editFormWrapper input[type=text] {
	width: 100%;
	padding: 12px 16px;
	border: 1px solid #bac6d3;
	border-radius: 2px;
	background-color: #fcfcfd;
	color: #2b546a;
}

@media (max-width: 700px) {
	.editFormWrapper input[type=text] {
		height: 40px;
		font-size: 18px;
	}
}

@media (min-width: 700px) {
	.editFormWrapper input[type=text] {
		height: 60px;
		font-size: 22px;
	}
}

.editFormWrapper input[type=submit] {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	border: 2px solid #80bcff;
	border-radius: 30px;
	outline: none;
	background-color: #80bcff;
	color: #ffffff;
	cursor: pointer;
}

.editFormWrapper input[type=submit]:hover {
	background-color: #ffffff;
	color: #80bcff;
	transition: all 0.3s ease;
}

@media (max-width: 700px) {
	.editFormWrapper input[type=submit] {
		width: 100px;
		height: 40px;
		font-size: 18px;
		line-height: 38px;
	}
}

@media (min-width: 700px) {
	.editFormWrapper input[type=submit] {
		width: 120px;
		height: 50px;
		font-size: 22px;
		font-weight: bold;
		line-height: 48px;
	}
}

/*alert ================================ */
.alertDanger {
	display: inline-block;
	width: 100%;
	border: 1px solid crimson;
	border-radius: 4px;
	background-color: rgb(255, 217, 223);
	color: crimson;
	text-align: center;
}

@media (max-width: 700px) {
	.alertDanger {
		height: 50px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 50px;
	}
}

@media (min-width: 700px) {
	.alertDanger {
		height: 60px;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 60px;
	}
}

.alertPrimary {
	display: inline-block;
	width: 100%;
	border: 1px solid royalblue;
	border-radius: 4px;
	background-color: rgb(223, 234, 255);
	color: royalblue;
	text-align: center;
}

@media (max-width: 700px) {
	.alertPrimary {
		height: 50px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 50px;
	}
}

@media (min-width: 700px) {
	.alertPrimary {
		height: 60px;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 60px;
	}
}

.warnText {
	color: crimson;
}

@media (max-width: 700px) {
	.warnText {
		font-size: 14px;
	}
}

@media (min-width: 700px) {
	.warnText {
		font-size: 18px;
	}
}

/*# sourceMappingURL=style.css.map */