<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>英単語編集</title>
</head>
<body>

    <h2>Edit English Vocabulary</h2>

    <form action="/updateNewWord" method="post">
        <input type="hidden" name="id" th:value="${word.id}">

        <p>
            英単語：<input type="text" name="english" th:value="${word.english}">
        </p>

        <p>
            日本語訳：<input type="text" name="japanese" th:value="${word.japanese}">
        </p>

        <input type="submit" value="更新">
    </form>

</body>
</html>
