<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>ユーザー登録画面</title>
</head>

<body>
	<header>
		<a class="headerLogo">ENGLISH VOCABULARY LIST</a>
	</header>
	<div class="container">
		<div class="containerHeader">
			<h1>新規ユーザー登録画面</h1>
		</div>
		<div class="signupFormWrapper">
			<span th:classappend="${isError ? 'alertDanger' : 'alertPrimary'}" th:text="${message}"
				th:if="${message != null}"></span>
			<p class="formLabel">ログインIDとパスワードを入力してください</p>
			<p class="warnLabel">※8桁から20桁の間で入力してください</p>
			<form th:action="@{/signup}" method="post" th:object="${signupForm}">
				<input type="text" placeholder="ログインID" th:field="*{loginId}">
				<span class="warnText" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></span>
				<input type="text" placeholder="ログインパスワード" th:field="*{password}">
				<span class="warnText" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<input type="submit" value="ユーザー登録">
			</form>
			<a class="loginLink" th:href="@{/login}">▶ログイン画面へ戻る</a>
		</div>
	</div>
</body>

</html>